lb_flow0.json
{
    "id": "3ee1caf7814f49",
    "type": "tab",
    "label": "lorabridge flow",
    "disabled": true,
    "info": "True heros drink matcha.",
    "env": [],
    "nodes": [
        {
            "id": "88c1a5795a0d44cd",
            "type": "mqtt in",
            "z": "3ee1caf7814f49",
            "name": "",
            "topic": "zigbee2mqtt/0x00158d0007e3feb9",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "0d4cf1425404ae49",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 0,
            "x": 520,
            "y": 380,
            "wires": [
                [
                    "87964d8cb4cc41ed"
                ]
            ]
        },
        {
            "id": "87964d8cb4cc41ed",
            "type": "function",
            "z": "3ee1caf7814f49",
            "name": " input state filter",
            "func": "\nvar newMsg;\n\n if(msg.payload.occupancy == true) {\n    newMsg = { payload: true};\n}\nelse if(msg.payload.occupancy == false) {\n    newMsg = { payload: false};\n}\n\nnewMsg.topic = \"binary_state\"\n\nreturn newMsg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 820,
            "y": 380,
            "wires": [
                [
                    "6285bed2ade94eb4"
                ]
            ]
        },
        {
            "id": "46b72ba5c56a49e8",
            "type": "mqtt out",
            "z": "3ee1caf7814f49",
            "name": "",
            "topic": "zigbee2mqtt/0x54ef4410004dc531/set",
            "qos": "",
            "retain": "",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "0d4cf1425404ae49",
            "x": 760,
            "y": 320,
            "wires": []
        },
        {
            "id": "e2171f66b2f04f30",
            "type": "function",
            "z": "3ee1caf7814f49",
            "name": "output state generation",
            "func": "var newMsg;\n\n if(msg.payload == true) {\n    newMsg = { payload: \"{\\\"state\\\": \\\"ON\\\"}\" };\n}\nelse {\n    newMsg = { payload: \"{\\\"state\\\": \\\"OFF\\\"}\" };\n}\n\nreturn newMsg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 520,
            "y": 320,
            "wires": [
                [
                    "46b72ba5c56a49e8"
                ]
            ]
        },
        {
            "id": "a94a4ec99caf49c2",
            "type": "mqtt in",
            "z": "3ee1caf7814f49",
            "name": "",
            "topic": "zigbee2mqtt/0x54ef4410004dc531",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "0d4cf1425404ae49",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 0,
            "x": 520,
            "y": 380,
            "wires": [
                [
                    "367503e9d80b483a"
                ]
            ]
        },
        {
            "id": "367503e9d80b483a",
            "type": "function",
            "z": "3ee1caf7814f49",
            "name": " input state filter",
            "func": "\nvar newMsg;\n\n if(msg.payload.state == \"ON\") {\n    newMsg = { payload: true};\n}\nelse if(msg.payload.state == \"OFF\") {\n    newMsg = { payload: false};\n}\n\nnewMsg.topic = \"binary_state\"\n\nreturn newMsg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 820,
            "y": 380,
            "wires": [
                [
                    "f0dd74e407fd4ee8"
                ]
            ]
        },
        {
            "id": "f0dd74e407fd4ee8",
            "type": "function",
            "z": "3ee1caf7814f49",
            "name": "binary state transition",
            "func": "if (msg.topic == \"binary_state\") {\n    context.set(\"binary_state\", msg.payload);\n    return;\n}\n\nlet old_state = context.get(\"binary_state\");\nlet new_state = msg.payload;\n\nvar newMsg = null;\n\nif (old_state == false && new_state == true) {\n    newMsg = { payload: true };\n}\n\nif (old_state == true && new_state == false) {\n    newMsg = { payload: false };\n}\n\n\nreturn newMsg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1020,
            "y": 360,
            "wires": [
                [
                    "e2171f66b2f04f30"
                ]
            ]
        },
        {
            "id": "a96b172536d24799",
            "type": "inject",
            "z": "3ee1caf7814f49",
            "name": "timestamp every 1 second",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "1",
            "crontab": "",
            "once": true,
            "onceDelay": 0.1,
            "topic": "trigger",
            "payload": "",
            "payloadType": "date",
            "x": 380,
            "y": 360,
            "wires": [
                [
                    "6285bed2ade94eb4"
                ]
            ]
        },
        {
            "id": "6285bed2ade94eb4",
            "type": "function",
            "z": "3ee1caf7814f49",
            "name": "countdown switch",
            "func": "\nlet counter = context.get(\"count\")\nvar newMsg = null;\n\n\n\nswitch(msg.topic) {\n\n    case \"binary_state\":\n             \n        if(msg.payload == true) {\n            \n            counter = 5;\n            context.set(\"count\", counter);\n        }\n        break;\n    case \"trigger\":\n        \n        break;\n    default:\n        return newMsg;        \n}\n\nif(counter == 0) {\n    newMsg = { payload: false };\n}\nelse {    \n    counter--;\n    context.set(\"count\",counter)\n    newMsg = { payload: true };\n}\n\n\n\nreturn newMsg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "// Der Code hier wird ausgef\u00c3\u00bchrt,\n// wenn der Node gestartet wird\n\ncontext.set(\"count\", 0);",
            "finalize": "",
            "libs": [],
            "x": 750,
            "y": 360,
            "wires": [
                [
                    "f0dd74e407fd4ee8"
                ]
            ]
        }
    ],
    "configs": []
}