lorawan_experiment.json
{
    "id": "d5df8c9308654221",
    "type": "tab",
    "label": "lorabridge flow",
    "disabled": true,
    "info": "True heros drink matcha.",
    "env": [],
    "nodes": [
        {
            "id": "26fa6460a5c24187",
            "type": "mqtt in",
            "z": "d5df8c9308654221",
            "name": "",
            "topic": "zigbee2mqtt/0x54ef4410004dc531",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "0d4cf1425404ae49",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 0,
            "x": 520,
            "y": 380,
            "wires": [
                [
                    "b941c1f4f9ad459a"
                ]
            ]
        },
        {
            "id": "b941c1f4f9ad459a",
            "type": "function",
            "z": "d5df8c9308654221",
            "name": " input state filter",
            "func": "\nvar newMsg;\n\n if(msg.payload.state == \"ON\") {\n    newMsg = { payload: true};\n}\nelse if(msg.payload.state == \"OFF\") {\n    newMsg = { payload: false};\n}\n\nnewMsg.topic = \"binary_state\"\n\nreturn newMsg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 820,
            "y": 380,
            "wires": [
                [
                    "a98f7c7a07c04471"
                ]
            ],
            "topic": "zigbee2mqtt/0x54ef4410004dc531"
        },
        {
            "id": "1d73556a8c6b4410",
            "type": "mqtt in",
            "z": "d5df8c9308654221",
            "name": "",
            "topic": "zigbee2mqtt/0x00158d0007e3feb9",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "0d4cf1425404ae49",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 0,
            "x": 520,
            "y": 380,
            "wires": [
                [
                    "bd19deec54e44dea"
                ]
            ]
        },
        {
            "id": "bd19deec54e44dea",
            "type": "function",
            "z": "d5df8c9308654221",
            "name": " input state filter",
            "func": "\nvar newMsg;\n\n if(msg.payload.occupancy == true) {\n    newMsg = { payload: true};\n}\nelse if(msg.payload.occupancy == false) {\n    newMsg = { payload: false};\n}\n\nnewMsg.topic = \"binary_state\"\n\nreturn newMsg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 820,
            "y": 380,
            "wires": [
                [
                    "81dced331a1d4ba1"
                ]
            ],
            "topic": "zigbee2mqtt/0x00158d0007e3feb9"
        },
        {
            "id": "608a089a10a64d75",
            "type": "mqtt out",
            "z": "d5df8c9308654221",
            "name": "",
            "topic": "zigbee2mqtt/0x54ef4410004dc531/set",
            "qos": "",
            "retain": "",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "0d4cf1425404ae49",
            "x": 760,
            "y": 320,
            "wires": []
        },
        {
            "id": "7516a16752634e2e",
            "type": "function",
            "z": "d5df8c9308654221",
            "name": "output state generation",
            "func": "var newMsg;\n\n if(msg.payload == true) {\n    newMsg = { payload: \"{\\\"state\\\": \\\"ON\\\"}\" };\n}\nelse {\n    newMsg = { payload: \"{\\\"state\\\": \\\"OFF\\\"}\" };\n}\n\nreturn newMsg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 520,
            "y": 320,
            "wires": [
                [
                    "608a089a10a64d75"
                ]
            ],
            "topic": "zigbee2mqtt/0x54ef4410004dc531/set"
        },
        {
            "id": "e549889f86cd460c",
            "type": "inject",
            "z": "d5df8c9308654221",
            "name": "timestamp every 1 second",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "1",
            "crontab": "",
            "once": true,
            "onceDelay": 0.1,
            "topic": "trigger",
            "payload": "",
            "payloadType": "date",
            "x": 380,
            "y": 360,
            "wires": [
                [
                    "81dced331a1d4ba1"
                ]
            ]
        },
        {
            "id": "81dced331a1d4ba1",
            "type": "function",
            "z": "d5df8c9308654221",
            "name": "countdown switch",
            "func": "\nlet counter = context.get(\"count\")\nvar newMsg = null;\n\n\n\nswitch(msg.topic) {\n\n    case \"binary_state\":\n             \n        if(msg.payload == true) {\n            \n            counter = 5;\n            context.set(\"count\", counter);\n        }\n        break;\n    case \"trigger\":\n        \n        break;\n    default:\n        return newMsg;        \n}\n\nif(counter == 0) {\n    newMsg = { payload: false };\n}\nelse {    \n    counter--;\n    context.set(\"count\",counter)\n    newMsg = { payload: true };\n}\n\n\n\nreturn newMsg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "// Der Code hier wird ausgef\u00c3\u00bchrt,\n// wenn der Node gestartet wird\n\ncontext.set(\"count\", 0);",
            "finalize": "",
            "libs": [],
            "x": 750,
            "y": 360,
            "wires": [
                [
                    "a98f7c7a07c04471"
                ]
            ]
        },
        {
            "id": "a98f7c7a07c04471",
            "type": "function",
            "z": "d5df8c9308654221",
            "name": "binary state transition",
            "func": "if (msg.topic == \"binary_state\") {\n    context.set(\"binary_state\", msg.payload);\n    return;\n}\n\nlet old_state = context.get(\"binary_state\");\nlet new_state = msg.payload;\n\nvar newMsg = null;\n\nif (old_state == false && new_state == true) {\n    newMsg = { payload: true };\n}\n\nif (old_state == true && new_state == false) {\n    newMsg = { payload: false };\n}\n\n\nreturn newMsg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1020,
            "y": 360,
            "wires": [
                [
                    "7516a16752634e2e"
                ]
            ]
        }
    ],
    "configs": []
}